# Flutter/Dart related.
.dart_tool/
.packages
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
pubspec.lock

# Android specific.
android/.gradle/
android/build/
app/release/

# Xcode specific.
ios/Pods/
ios/Runner.xcworkspace/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IDE specific
.idea/
.vscode/ 
